extends layout

block content
  h1= title
  p Welcome to #{title}
  #dwtcontrolContainer
  input(
    type='button'
    value='Acquire'
    onclick='AcquireImage()'
  )
  input(
    id='btnUpload'
    type='button'
    value='Upload Image'
    onclick='btnUpload_onclick()'
  )
  script(type='text/javascript').
        var dwtObject;
        window.onload = function () {
            if (Dynamsoft) {
                Dynamsoft.DWT.AutoLoad = false;
                Dynamsoft.DWT.UseLocalService = true;
                Dynamsoft.DWT.Containers = [{ ContainerId: 'dwtcontrolContainer', Width: '640px', Height: '640px' }];
                Dynamsoft.DWT.RegisterEvent('OnWebTwainReady', Dynamsoft_OnReady);
                // https://www.dynamsoft.com/customer/license/trialLicense/?product=dcv&package=cross-platform
                Dynamsoft.DWT.ProductKey = 'DLS2eyJoYW5kc2hha2VDb2RlIjoiMjAwMDAxLTE2NDk4Mjk3OTI2MzUiLCJvcmdhbml6YXRpb25JRCI6IjIwMDAwMSIsInNlc3Npb25QYXNzd29yZCI6IndTcGR6Vm05WDJrcEQ5YUoifQ==';
                Dynamsoft.DWT.ResourcesPath = '/';
                Dynamsoft.DWT.Load();
            }

        };


        function Dynamsoft_OnReady() {
            dwtObject = Dynamsoft.DWT.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'
        }
        
        function AcquireImage() {
            if (dwtObject) {
                dwtObject.SelectSourceAsync().then(function () {
                    return dwtObject.AcquireImageAsync({
                        IfCloseSourceAfterAcquire: true // Scanner source will be closed automatically after the scan.
                    });
                }).catch(function (exp) {
                    alert(exp.message);
                });
            }
        }

        function btnUpload_onclick() {
          if (dwtObject) {
            dwtObject.HTTPPort = 3000;
            var CurrentPathName = unescape(location.pathname); 
            var CurrentPath = CurrentPathName.substring(0, CurrentPathName.lastIndexOf("/") + 1);
            var strActionPage = CurrentPath + "upload";
            var strHostIP = "localhost";
            var sFun = function(){
                alert('successful');
            }, fFun = function(){

            };
            dwtObject.HTTPUploadThroughPostEx(
                strHostIP,
                dwtObject.CurrentImageIndexInBuffer,
                strActionPage,
                "test.jpg",
                1,// JPEG
            sFun, fFun
            );
          }
        }
